body {
    font-family: 'Space Grotesk'; font-size: 16px;
    box-sizing: border-box;
    margin: 0 100px;
}

header {
    display: flex;
    margin-bottom: 60px;
}


.left__section ul, .right__section ul{
    display: flex;
    flex-flow: row nowrap;
    margin: 12px 0 0;
    padding: 0;
    font-size: 17px;
    /* line-height: 0px; */
    list-style: none;
}

.left__section a, .right__section a {
    display: block;
    padding: 6px 8px;
    text-decoration: none;
    letter-spacing: .12em;
    color: #000;
}

.left__section li{
    margin-right: 45px;
}

.left__section li:last-child {
    margin-right: 0;
}

.right__section li {
    margin-left: 430px;
}

/* Добавляем переход для элементов с классами .first-letter и .rest-of-text */
.rest-of-text {
    opacity: 0; /* Начальная прозрачность (текст скрыт) */
    transition: opacity 0.3s ease; /* Длительность и функция распределения для плавного перехода */
}

/* При наведении мыши изменяем прозрачность на 1 (текст появляется) */
header:hover .rest-of-text {
    opacity: 1;
}

/* Main section */

.primary__section{
    display: flex;
}

.primary__main {
    margin-right: 100px;
    padding-top: 50px;
}

.primary__main h1 {
    font-size: 65px;
    margin-bottom: .2em;
}

.primary__main p {
    font-size: 1.3em;
}

button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.primary__main button {
    border-radius: 12px;
    padding: 8px 20px;
    background-color: orange;
}

.primary__main a {
    text-decoration: none;
    color: black;
}

.primary__img img{
    width: 500px;
}