{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Space Grotesk' rel='stylesheet'>

    {% block head %}
        <!--  Here will be your head  -->
    {% endblock %}

</head>


<header>
    <div class="left__section">
        <ul>
            <li><a href="{% url 'main' %}">
                <span class="first-letter">K</span><span class="rest-of-text">OTF</span>
            </a></li>
            <li><a href="{% url 'quiz' %}">
                <span class="first-letter">E</span><span class="rest-of-text">DUCATION</span>
            </a></li>
            <li><a href="{% url 'motivation' %}" style="width: 250px;">
                <span class="first-letter">M</span><span class="rest-of-text">OTIVATIONAL SECTION</span>
            </a></li>
        </ul>
    </div>
    <div class="right__section">
        <ul>
            <li><a href="{% url 'professions' %}" style="width: 110px;">
                <span class="first-letter">P</span><span class="rest-of-text">rofessions</span>
            </a></li>
        </ul>
    </div>
</header>

{% block body %}
    <!--  Here will be body of page -->
{% endblock %}

</html>