{% extends 'main/base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static '\main\css\style.css'%}">
    <title>Document</title>
{% endblock %}


{% block body %}
    <body>
        <div class="products__header">
            <h1>ONLINE COURSE: <span id="current__course">MATH</span></h1>
            <ul>
                <li>SCIENCE COURSE</li>
                <li>TECHNOLOGY COURSE</li>
                <li>ENGINEERING COURSE</li>
                <li>MATH COURSE</li>
            </ul>
            <hr>
        </div>
        <div class="products">

        </div>
        <script src="{% static '\main\js\catalog.js' %}"></script>
        <script src="{% static '\main\js\products.js' %}"></script>
    </body>
    </html>
{% endblock %}