<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Space Grotesk' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="products__header">
        <h1>ONLINE COURSE: <span id="current__course">MATH</span></h1>
    </div>
    <div class="products">

    </div>
    <script src="catalog.js"></script>
    <script src="products.js"></script>
</body>
</html>