<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Space Grotesk' rel='stylesheet'>
    <link rel="stylesheet" href="quiz_style.css">
    <title>Document</title>
</head>
<body>
    <div class="quiz__main">
        <h2>
            QUIZ What is your favorite STEM?
        </h2>
        <p>
            What is your favorite
        </p>
        <hr>
        <div class="chooses">
            <ul>
                <li class="first__row">
                   <span>1)</span> 
                </li>
                <li class="first__row">
                    <span>2)</span> 
                </li>
                <li>
                    <span>3)</span> 
                </li>
                <li>
                    <span>4)</span>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>