<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Space Grotesk' rel='stylesheet'>
    <link rel="stylesheet" href="quiz_style.css">
    <title>Document</title>
</head>
<body>
    <div class="quiz__main">
        <div class="wrapper">
            <h2>
                QUIZ What is your favorite STEM? <span id="curr"></span>
            </h2>
            <p id="question">
                What is your favorite
            </p>
            <hr>
            <div class="chooses">
                <ul class="chooses__wrapper">
                    <li class="first__row">
                        1)<span class="choose"></span> 
                    </li>
                    <li class="first__row">
                        2)<span class="choose"></span> 
                    </li>
                    <li>
                        3)<span class="choose"></span> 
                    </li>
                    <li>
                        4)<span class="choose"></span>
                    </li>
                </ul>
                <span id="nxt">NEXT</span>
            </div>
        </div>
    </div>
    <script src="quiz.js"></script>
</body>
</html>